/* 

    Trip Plan Board CSS
    여행 일정을 다른 사용자들과 함께 공유하는 게시판
    21.03.18

    1. trip plan board head area
    2. filter table
    3. Article section

*/
/* 1. tripplan board head */
.mainsection #tpboard {
    margin-top: 80px;
    padding: 10px 100px 20px;
    text-align: center;
}

#tpboard .title {
    font-size: 2em;
    font-weight: bold;
}

#tpboard .intro {
    margin: 10px 0px;
}


/* 2. filter 테이블  */
.tbl-filter {
    margin-top: 30px;
}

.tbl-filter tr {
    /* height: 50px; */
    margin: auto 0px;
}

.tbl-filter tbody tr th {
    width: 100px;
    background-color: #F3F3F3;
    text-align: center;
    vertical-align: middle;
}

.tbl-filter tbody tr td {
    text-align: left;
    padding-left: 20px;
    vertical-align: middle;
}


.tbl-filter .tag {
    padding: 0px 25px;
    border: #DDD solid 1px; 
    border-radius: 6px; 
    margin: 2px;
    display: inline-block;
    cursor: pointer;
}

.tbl-filter #selectedTag .selected span {
    position: relative;
    left: 15px;
    font-size: 0.9em;
    color: white;
}

.tbl-filter #selectedTag .selected {
    padding: 4px 30px;
    background-color: rgb(255, 203, 195);
    padding-left: 20px;
    font-weight: bold;
    border: none;
    vertical-align: middle;
}


/*  3. Article section  */
/* 버튼과 검색창 */
#tpboard .btns {
    text-align: left;
    padding: 10px;
}

#tpboard .btns .popular {
    margin-right: 5px;
}

#tpboard .searcharea {
    text-align: right;
    margin-top: -44px;
}

#tpboard .searcharea #search {
    width: 300px;
    display: inline-block;
}

#tpboard .searcharea .btn {
    display: inline-block;
    margin-left: -5px;
    margin-top: -3px;
    background-color: rgb(146, 146, 146);
    outline: none;
}

.btns .btn-general {
    background-color: white;
    color: #f05e61ff;
    border: 1px solid #e79f75;
    outline: none;
}

.btns .menu-active {
    background-color: #f05e61ff;
    color: white;
}

#tpboard .searcharea .btn span {
    color: white;
}

#tpboard .searcharea::after {
    content: "";
    display: block;
    clear: both;
}

/* 게시글 */
#articles .article {
    border: #CCC solid 1px; 
    width: 300px;
    margin: 13px 15px;
    box-shadow: 0px 3px 10px 0px #BBB;
    display: inline-block;
}

#articles {
    margin: 10px 0px 20px 0px;
    text-align: center;
}

#articles::after {
    content: "";
    display: block;
    clear: both;
}

#articles .article .crop {
    width: 300px;
    height: 180px;
    overflow: hidden;
    margin-left: -1px;
    margin-top: -2px;
}

.article .crop img {
    width: 100%;
}

#articles .article:hover {
    box-shadow: 0px 8px 12px 3px #AAA;
    border: 1px solid #edb3adff;
    cursor: pointer;
}

#articles .article:hover img{
    transform:scale(1.1);
    transition: all 0.5s ease-in-out;
}

.article .onimg {
    margin-top: -35px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.664);
    position: relative;
    padding: 5px 10px;
}

.article .onimg .startdate {
    color: #f18579ff;
    font-weight: bold;
    font-size: 1.1em;
}

.article .onimg .days {
    color: white;
    padding-left: 5px;
}

/* 제목 */
#articles .article .txtbox {
    padding: 5px 10px;
}

#articles .article .title {
    font-size: 1.5em;
    text-align: left;
    height: 32px;
    overflow: hidden;
}

.article .txtbox .city {
    font-size: 1.1em;
    text-align: left;
}

.article .txtbox .id {
    text-align: left;
}

.article .txtbox .cnts {
    text-align: right;
    margin-top: -22px;
}